<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ .title }}</title>
	</head>
	<body>
		<h1>登录</h1>
		<form action="/login" method="post">
			<label for="username">用户名:</label>
			<input type="text" id="username" name="username" required />
			<label for="password">密码:</label>
			<input type="password" id="password" name="password" required />
			<button type="submit">登录</button>
		</form>
		<p>还没有账号？<a href="/register">点击这里注册</a></p>
	</body>
</html>
